.search-bar-finance {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda no cálculo do width */
    
    margin-top: -100%; /* Espaçamento superior para a barra aparecer logo abaixo do topo */
    
    height: 100px; /* Altura da barra de busca */
}

.search-bar-finance input {
    font-family: 'CodecPro', sans-serif;
    flex-grow: 1;
    border: 3px solid #101728;
    border-radius: 100%;
    padding: 10px 20px;
    font-size: 20px !important;
    color: #000000;
    padding-left: 55px;
}

.search-bar-finance input::placeholder {
    color: rgba(16, 23, 40, 0.3);
    position: relative;
    font-family: 'CodecProExtraBold', sans-serif;
}
    