body {
    font-family: 'Arial', sans-serif;
    margin: 10px !important;
}

.student-form{
    margin-top: 60%;
}

.register-container-student {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    
}

.title-text{ 
    font-family: 'CodecProExtraBold', sans-serif;
    font-size: 32px !important;
    color: #101728;
    text-align: start;
    margin-bottom: 20px;
    margin-top: 60% !important; /*MUDAR ISSO AQUI */
}

.form-label {
    font-family: 'CodecPro', sans-serif;
    font-weight: bold;
    color: #101728;
}

.form-check-input:checked {
    background-color: #101728 !important;
    border-color: #101728 !important;
}

.font-test{
    font-size: 20px !important;
}

.form-check-label {
    margin-right: 10px;
}

.form-control, .btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #101728;
    border-color: #101728;
    font-weight: bold;
    padding: 10px;
}

.photo-upload {
    border: 2px dashed #101728;
    padding: 15px;
    text-align: center;
    background-color: #e9f5ff;
    color: #101728;
    font-size: 18px;
}

.photo-upload i {
    font-size: 30px;
}

.photo-upload p {
    font-weight: bold;
    margin-top: 10px;
}

.custom-select {
    appearance: none; /* Remove o estilo padrão do select */
    background-color: #fff;
    border: 1px solid #101728;
    border-radius: 5px;
    padding: 10px;
    font-family: 'CodecPro', sans-serif;
    color: #101728;
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"%3E%3Cpath d="M6 9l6 6 6-6"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    cursor: pointer;
}

.custom-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.custom-select option {
    font-weight: normal;
}

/* Para versões inválidas */
.is-invalid {
    border-color: #dc3545;
}

.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #101728 !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 50px;
  }

  .photo-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.camera-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.camera-overlay video {
    width: 100%;
    border-radius: 8px;
}

.camera-overlay button {
    width: 60px; /* Largura fixa */
    height: 60px; /* Altura igual à largura */
    margin-top: 20px;
    padding: 0; /* Remove o padding para garantir que o conteúdo não altere o formato */
    border: none; /* Remove a borda padrão */
    background-color: transparent !important; /* Cor do botão */
    color: transparent; /* Deixa o texto invisível, se houver algum */
    border-radius: 100%; /* Define bordas redondas para criar o círculo */
    cursor: pointer;
    position: relative;
}

.camera-overlay button::before {
    content: ''; /* Nenhum texto visível */
    display: block;
    width: 80%; /* Diâmetro da "lente" */
    height: 80%;
    background-color: rgb(255, 255, 255); /* Cor da "lente" da câmera */
    border-radius: 100%; /* Lente redonda */
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); /* Centraliza o círculo da "lente" */
}

.photo-upload img {
    width: 100%;
    border-radius: 8px;
}

.photo-upload button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #101728;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

